---
layout: default
---

<div class="home">
  <!-- Header -->

  {% if site.theme.header_text %}
  <div class="call-out">{{ site.theme.header_text }}</div>
  {% endif %}

  <div class="feature-image" style="background-image: url('/img/21469837_468594dd12_o.jpg')">
    <div style="visibility: hidden">
      A<p>A</p>A<p>A</p>A<p>A</p>A<p>A</p>
    </div>
  </div>

  <!-- Posts -->

  <div class="posts">
    {% for post in paginator.posts %}
    <div class="post-teaser">
      <h1>  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"> {{ post.title }} </a>  </h1>
      <div class="excerpt"> {{ post.excerpt }}
        <p class="meta">Posted by {% if post.author %}{{ post.author }}{% else %}<a href="{{ site.url | prepend: site.baseurl }}">{{ site.theme.title }}</a>{% endif %} on {{ post.date | date: "%B %-d, %Y" }} 
        <a class="button pull-right" href="{{ post.url | prepend: site.baseurl }}">{{ site.theme.str_continue_reading }}</a> </p>
      </div>
      
    </div>
    {% endfor %}
  </div>

  <!-- <div class="posts"> -->
  <!--   {% for post in paginator.posts %} -->
  <!--   <div class="post-teaser"> -->
    
  <!--     <header> -->
  <!--       <h1> -->
  <!--         <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> -->
  <!--       </h1> -->
        
  <!--       <p class="meta">{{ post.date | date: "%B %-d, %Y" }}</p> -->
  <!--     </header> -->

  <!--     <div class="excerpt"> -->
  <!--       {{ post.excerpt }} -->

  <!--       <a class="button" href="{{ post.url | prepend: site.baseurl }}">{{ site.theme.str_continue_reading }}</a> -->
  <!--     </div> -->
      
  <!--   </div> -->
  <!--   {% endfor %} -->
  <!-- </div> -->


  <!-- Pager -->

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
  
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme.str_prev }}
    </a>
    {% endif %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      {{ site.theme.str_next }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>


<!-- {% for post in paginator.posts %} -->
<!-- <div class="post-preview"> -->
<!--     <a href="{{ post.url | prepend: site.baseurl }}"> -->
<!--         <h2 class="post-title"> {{ post.title }}  </h2> -->
<!--         {% if post.subtitle %} -->
<!--         <h3 class="post-subtitle">            {{ post.subtitle }}        </h3> -->
<!--         {% endif %} -->
<!--     </a> -->
<!--     <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p> -->
<!-- </div> -->
<!-- <hr> -->
<!-- {% endfor %} -->

<!-- <\!-- Pager -\-> -->
<!-- {% if paginator.total_pages > 1 %} -->
<!-- <ul class="pager"> -->
<!--     {% if paginator.previous_page %} -->
<!--     <li class="previous"> -->
<!--         <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a> -->
<!--     </li> -->
<!--     {% endif %} -->
<!--     {% if paginator.next_page %} -->
<!--     <li class="next"> -->
<!--         <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a> -->
<!--     </li> -->
<!--     {% endif %} -->
<!-- </ul> -->
<!-- {% endif %} -->
